@model List<User>
@{
    ViewData["Title"] = "Subscriptions";
}

<div id="ChatsDiv" style="background-color: rgb(35 35 45); box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); border: 5px solid transparent; border-image: linear-gradient(35deg, rgba(38, 41, 254, 0.8), rgba(211, 38, 254, 0.8)) 1; ">
    <div class="list-group">
        @foreach (var user in Model)
        {
            <a href="/Search/Users/@user.Nickname" class="my-2 row d-flex align-items-center justify-content-evenly">
                <div class="col-sm-2 search-image-container">
                    @if (user.ImageData != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(user.ImageData)" class="search-image">
                    }
                    else
                    {
                        <img src="/img/Unknown.jpg" class="profile-image">
                    }
                </div>
                <div class="col-sm-4"><p class="search-item">@user.Nickname</p></div>
                <div class="col-sm-4"><p class="search-item">@user.Name @user.Surname</p> </div>
            </a>
        }
    </div>
</div>
