
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body style="margin: 0;">
    <div class="container-fluid d-flex align-items-center justify-content-center" style="background-image: url('/img/Start.jpg'); height: 100vh">
        <div class="text-center">
            <h1 class="mb-5 text-white start__title">World of Games</h1>
            <h2 class="mb-5 text-white start__suptitle">Welcome to Social Network For Gamers!</h2>
            <a class="start_btn" href="/RegistrationLogin/Registration">Time To Start</a>
        </div>
    </div>
</body>
</html>
