@model NewTeamViewModel
@{
    ViewData["Title"] = "CreateTeam";
}

<div class="modal-overlay">
    <div class="modal-body">
        <div class="modal-content">
            <h2>Create Team</h2>
            <!-- Form for creating a post -->
            <form method="post" class="form-horizontal">
                <label class="my-2" asp-for="TeamName"></label>
                <div>
                    <input asp-for="TeamName" class="form-control reglog_input" />
                    <span asp-validations-for="TeamName" class="text-danger"></span>
                </div>
                <div><span asp-validation-for="TeamName" class="text-danger"></span></div>
                <label class="my-2" asp-for="PlayerCount">Player count</label>
                <select asp-for="PlayerCount" class="form-select reglog_select" aria-label="Default select example">
                    <option selected disabled>Select Role</option>
                    <option class="reglog_option" value=3>Team of 3</option>
                    <option class="reglog_option" value=4>Team of 4</option>
                    <option class="reglog_option" value=5>Team of 5</option>
                </select>
                <div><span asp-validation-for="PlayerCount" class="text-danger"></span></div>
                <button type="submit" class="btn btn-outline-info my-2" name="action" value="CreateTeam">Create Team</button>
            </form>
        </div>
    </div>
</div>

